body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    overflow: hidden;
}

.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    background: #F5F4F9;
}

.logo-foto {
    background: #F5F4F9;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.logo-coracao {
    width: 100vh;
    right: 100vh;
}

.card-login {
    background: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 809px;
    height: 100vh;
    border-radius: 24px 0 0 24px;
    box-shadow: 5px 5px 1em #888;
}

.email {
    position: relative;
}

.label-email {
    left: 12px;
    bottom: 53px;
    position: absolute;
    background: #FFFFFF;
    color: 616161;
}

.senha {
    position: relative;
}

.label-senha {
    left: 12px;
    bottom: 53px;
    position: absolute;
    background: #FFFFFF;
    color: 616161;
}

.card-form {
    padding: 20px;
    width: 300px;
}

.card-form h1 {
    text-align: left;
}

.card-form img {
    width: 250px;
    height: 62.79px;
}

.card-form form input,
form textarea {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #edebf6;
    margin-bottom: 20px;
}

.suporte {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.botao {
    width: 300px;
    height: 40px;
    color: #FFFFFF;
    background: #00c247;
    border: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.entao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #616161;
    margin-bottom: 15px;
}

.linha {
    width: 43px;
    border-bottom: 1px solid #616161;
}

header {
    height: 100px;
    background: #ffffff;
    justify-content: space-between;
    display: flex;
    padding-right: 35px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo-home {
    padding: 20px;
}

.logo-home img {
    width: 280px;
}

.user-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.user-logo span {
    margin-left: 10px;
}

.linhas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.linha-1 {
    width: 100%;
    border-bottom: 5px solid #AA6F34;
}

.linha-2 {
    width: 100%;
    border-bottom: 5px solid #D2772E;
    ;
}

.linha-3 {
    width: 100%;
    border-bottom: 5px solid #F48221;
}

.linha-4 {
    width: 100%;
    border-bottom: 5px solid #FAA61A;
}

.linha-5 {
    width: 100%;
    border-bottom: 5px solid #F9E423;
}

.sidebar {
    background: #F9E423;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.6s ease;
}

.sidebar .menu-vertical {
    width: 100%;
    margin-top: 120px;
}

.sidebar .menu-vertical .opcoes {
    position: relative;
    cursor: pointer;
}

.sidebar .menu-vertical .opcoes a {
    color: #AA6F34;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 40px;
    line-height: 60px;
    border-left: 7px solid #F9E423;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.sidebar .menu-vertical .opcoes a:hover {
    background: #FAA61A;
    transition: 0.5s ease;
    border-left: 7px solid #F48221;
    color: #ffffff;
    font-size: 18px;
}

.sidebar .menu-vertical .opcoes span {
    margin-right: 15px;
    font-size: 34px;
}

.sidebar .menu-vertical .opcoes a .icone {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.sidebar .menu-vertical .opcoes .submenu {
    display: none;
}

.sidebar .menu-vertical .opcoes .submenu a {
    padding-left: 90px;
}

.sidebar .menu-vertical .opcoes .submenu a:hover {
    background: #F48221;
    transition: 0.3s ease;
}

.sidebar .menu-vertical .final {
    width: 300px;
    position: fixed;
    bottom: 20px;
}

.rotate {
    transform: rotate(90deg);
}

.main {
    position: relative;
    margin-left: 300px;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #F5F4F9;
}

.central h1 {
    color: #888;
}

.central h2 {
    color: #AA6F34
}

.faleconosco {
    position: fixed;
    bottom: 30px;
    right: 20px
}

.faleconosco img {
    width: 180px;
    height: 100px;
}
